body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: none;
  padding: none;
}

h1 {
  text-align: center;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}

h2 {
  padding: 0px 20px;
}

.team-info {
  text-align: center;
}

form {
  padding: 10px;
}

form label {
  padding: 10px;
}

.suggestions {
  margin: 10px 0px;
}

#suggest {
  margin: 10px 0px;
}

#name {
  margin: 10px 0px;
}

#point {
  margin: 10px 0px;
}

#foot {
  text-align: center;
}

.teams {
  padding: 15px 0px;
  list-style: none;
}

.teams li a {
  font-size: 1.5em;
  color: black;
}

.teams li {
  margin-bottom: 8px;
}

.header {
  background-color: lightblue;
  margin: 0px;
  padding: 20px;
}
