
@font-face {
  font-family: Cabin;
  src: url(/YAWB_Fonts/Cabin/Cabin-Regular-TTF.ttf);
}

body {
  font-family: Cabin, sans-serif;
  margin: 0px;

}

h1 {
  text-align: center;
  font-family: Cabin, sans-serif;
}

h2 {
  padding: 0px 20px;
}

.team-info {
  text-align: center;
}

form {
  padding: 10px;
}

form label {
  padding: 10px;
}

.suggestions {
  margin: 10px 0px;
}

#suggest {
  margin: 10px 0px;
}

#name {
  margin: 10px 0px;
}

#point {
  margin: 10px 0px;
}

.team {
  padding: 20px;
  margin-bottom: 20px;
  list-style: none;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.team li a {
  font-size: 1.5em;
  color: black;
}

.team li {
  margin-bottom: 8px;
  text-align: center;
}

.header {
  background-size: auto 350px;
  background-image: url('logo-multi.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FAF5E3;
  margin: 0px;
  padding-bottom: 55px;
  padding-top: 40px;
  height: 300px;
  position: relative;
}

#preamble {
  text-align: center;
  font-size: 1.4em;
  border-bottom: 3px solid #372719;
  outline-bottom: 1px solid #23D5DF;
  border-top: 3px solid #372719;
  outline-top: 1px solid #23D5DF;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#registration-link {
  font-size: .8em;
  text-decoration: none;
}

#registration-link:hover {
  color:red;
}

#nav-bar {
  list-style: none;
  background-color: #FAF5E3;
  text-align: center;
  margin: 0px;
  padding: 20px;

}

#nav-bar li {
  display: inline;
  padding: 15px;
  margin-bottom: 10px;

}

#nav-bar li a {
  color: #372719;
  text-decoration: none;
  font-size: 1.3em;
}

#nav-bar li a:hover {
  color: #FF611B;
}


#team-info {
  border-bottom: 3px solid #372719;
  outline-bottom: 1px solid #23D5DF;
  border-top: 3px solid #372719;
  outline-top: 1px solid #23D5DF;
}


